* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.App {
    background-color: #fdf4f4;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    width: 375px;
    height: 672px;
    margin: 0 auto;
    font-family: 'Roboto';
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top,
.bottom {
    height: 50%;
    width: 100%;
    padding: 0 5%;
}

.top {
    background-color: #fe4f4d;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 5% 20%;
}

.symbol-currency {
    color: #f4a4a5;
    font-size: 1.4rem;
    font-weight: 500;
}

.amount {
    font-size: 5em;
}

.top .amount {
    margin-top: 2rem;
}

.bottom .amount {
    margin-bottom: 2rem;
}

.full-currency {
    font-size: 1.6rem;
}

.bottom {
    color: #fe4f4d;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20% 5% 10%;
}

.arrow {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 8px solid #fe4f4d;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow i {
    font-size: 3rem;
    color: #fe4f4d;
}

.currency-list {
    z-index: 10;
    position: relative;
    top: -100%;
    right: 0%;
    width: 100%;
    height: 100%;
    transition: all .5s ease-out;
    background-color: #fe4f4d;
    color: white;
    padding: 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(110%);
}

.return-btn i{
    font-size: 2.5rem;
    height: 20%;;
}

.currencies {
    padding-left: 5%;
    height: 90%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}

.currencies::-webkit-scrollbar {
    display: none;
}

.currencies li {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.currencies li span {
    font-size: .8rem;
    color: #f4a4a5;
}



.slideleft {
    transform: translateX(0);
}


